* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* variables */
:root {
  --text-gray: #534c64;
  --background-primary: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --background-secondary: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  --text-dark: #0b0223;
  --title-font-size: 3rem;
}

/* shared styles */
.secondary-title {
  color: var(--text-dark);
  font-size: var(--title-font-size);
  font-weight: 600;
}

.primary-title {
  font-size: 3rem;
  background: var(--background-primary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.section-description {
  color: var(--text-gray);
  font-size: 1rem;
}

.btn-primary {
  background-color: #f948b2;
  color: #fff;
  border: none;
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 1rem 0 0;
}

/* shared hover styles */
.overlay-content {
  width: 100%;
  height: 100%;
  top: 0;
  color: #fff;
  position: absolute;
  border-radius: 16px;
  border: 3px solid #f948b2;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out
}
.overlay-content:hover {
  opacity: 1;
}
/* shared hover styles ends */


/* shared styles ends */

/* nav related styles */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1.5rem 8rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.logo-title {
  font-size: 2rem;
}

.color-pink {
  color: #f948b2;
}

.logo-img {
  width: 30%;
}

.nav-item-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  color: #3c354f;
  font-weight: 600;
}

.nav-social-icon-box {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 0.7rem 1.5rem;
}

/* icons styles */
.fa-youtube,
.fa-tiktok {
  font-size: 1.3rem;
}

.fa-youtube {
  color: red;
}
/* nav related styles ends */

/* banner related styles */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem;
  /* width: 80%;
    margin: 2rem auto; */
  background-image: url("/images/Group\ 14.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 50%;
}

.banner-img {
  width: 50%;
}

.banner-second-title {
  text-transform: uppercase;
}
.banner-title {
  font-size: 5.9rem;
  margin-bottom: 1rem;
}

.banner-list {
  list-style-type: none;
  color: var(--text-gray);
  margin: 0.5rem 0;
  font-weight: 600;
}

.btn-blue {
  background-color: #4ec5f7;
}
/* banner related styles ends */

/* gamer section related styles */
.gamer-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
}

.gamer-section-img {
  width: 62%;
}

.gamer-section-content {
  text-align: right;
}

.btn-gamer {
  margin: 1rem 0;
}

.tagline-p,
.tagline-h {
  color: var(--text-gray);
  font-size: 1.5rem;
}
/* gamer section related styles ends */

/* online section related styles */
.online-section-container {
  width: 80%;
  margin: 5rem auto;
}

.online-title,
.small-desc {
  text-align: center;
  color: var(--text-gray);
}

.small-desc {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.card-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.card {
  position: relative;
}

.card-img {
  width: 100%;
  display: block;
}

.game-desc {
  text-align: left;
  font-weight: 600;
}
/* online section related styles ends */


/* play instantly section related styles */
.play-section-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 2rem auto;
}

.play-img {
  width: 40%;
}

.play-title {
  font-size: 2.5rem;
  font-weight: 800;
}

.play-content-container {
  text-align: right;
  width: 30%;
}

.text-pink {
  color: #f948b2;
}

.badge-img-container {
  display: flex;
  justify-content:end;
  position: relative;
  margin: -10rem 34rem 0 0;
}

.badge-img {
  width: 28%;
}

.play-section-two {
  flex-direction: row-reverse;
  margin-top: 7rem
}

.play-section-two-content {
  text-align: left;
  width: 33%;
}

.badge-two {
  margin: -10rem 38rem 0 0;
}
/* play instantly section related styles ends */

/* career section related styles */
.career-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#f948b2;
  color: #fff;
  padding-left: 6rem;
  margin-top: 5rem;
}

.career-img {
  width: 49%;
}

.career-title {
  font-size: 2rem;
  font-weight: 600;
}

.career-desc {
  margin: 1.5rem 0;
  font-size: 0.8rem;
  font-weight: 400;
  width: 70%;
}

.career-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}


.list-of-country {
  text-align: right;
}
.career-item {
  list-style-type: none;
}

.btn-career {
  background-color: #fff;
  color:#f948b2 ;
}
/* career section related styles ends */


/* game icon related styles  */

.icon-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 7rem 5rem 10rem;
}

.icon-box {
  display: flex;
  width: 19%;
  gap: 0.7rem;
  align-items: center;
  border-radius: 50px;
}

.icon-title {
  font-weight: 600;
  font-size: 0.8rem;
}

.icon-img {
  width: 22%;
}
/* game icon related styles ends */

/* footer related styles */
.footer-img {
  width: 70px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.footer-title {
  font-size: 1.8rem;
}

.footer-container {
  text-align: center;
  background-color: #0B0223;
  color: #fff;
  padding: 1.5rem

}

.footer-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  font-size: 1rem;
  margin: 3rem 0;
}

.footer-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.footer-icon {
  font-size: 1.7rem;
}

.fb {
  color: skyblue;
}

.footer-legal-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3.5rem 0 1.5rem 0;
  color: rgba(255, 255, 255, 0.60);
}


.footer-note {
  color: rgba(255, 255, 255, 0.60);
  font-size: 0.7rem;
}
/* footer related styles ends */
